<div class="container">
<form>
    <div class="row">
      <div class="col col-md-3 mt-4 mb-4">
        <select class="custom-select">
            <option selected >filtrer par catégorie</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
      </div>
  </form>
</div>
<!-- <div class="row text-center">
    <a class="col-md-3 mt-4 mb-4 btn btn-outline-info">Tout les vins</a>
    <a class="col-md-3 mt-4 mb-4 btn btn-outline-info" >Vin rouge</a>
    <a class="col-md-3 mt-4 mb-4 btn btn-outline-info">Vin blanc</a>
    <a class="col-md-3 mt-4 mb-4 btn btn-outline-info">Vin rosé</a>
  </div> -->

