<header class="masthead">
    <div class="container">
        <div class="masthead-subheading">Lorem ipsum sur de l'ail noir</div>
        <div class="masthead-heading text-uppercase">L'ail Noir</div>
        <!-- <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a> -->
    </div>
</header>


<!-- <div class="jumbotron " title="ail noir">
    <div class="container text-center">
        <br/>
        <br/>
        <h1 class="masthead-heading text-uppercase">L'ail Noir</h1>
        <h2 class="text-dark lead">Lorem Ipsum sur de l'ail noir</h2>
    </div>
</div> -->
