<ng-container *ngIf="currentProduct;then loaded;else notloaded;"></ng-container>
<ng-template #notloaded>Chargement en cours...</ng-template>
<ng-template #loaded>


    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" [src]="currentProduct.pictureUrl"
                        alt="{{currentProduct.name}}" />
                </div>

                <div class="col-md-6">
                    <h1 class="display-5 fw-bolder">{{currentProduct.name}}</h1>
                    <div class="fs-5 mb-5">
                        <span>{{currentProduct.unitPrice}} € TTC (hors livraison)</span>
                    </div>
                    <p class="lead">{{currentProduct.description}}</p>
                    <div class="d-flex">
                        <form [formGroup]="qtForm" (ngSubmit)="AddToCart(productDetail, qtForm.value)">
                            <label for="qt">Quantité</label>
                            <input type="number" id="qt" class="form-control" qtForm="qtForm.controls['qt']"
                                max="99" min="1" />
                            <input type="submit" value="Ajouter au panier" class="btn btn-outline-primary mb-4">
                            <div class="text-center mb-4">
                                <span class="centered text-center successAddToCart" *ngIf="successAddedProductCart">
                                    Le {{productDetail.name}} a bien été ajouté au panier ! Quantité :
                                    {{qtForm.controls['qt']}}</span>
                            </div>
                        </form>
                    </div>
                    <div class="">
                        <h3>Utilisation</h3>
                        <p>{{currentProduct.utilisation}}</p>
                        <h3>Ingrédients</h3>
                        <p>{{currentProduct.ingredients}}</p>
                        <h3>Categorie</h3>
                        <p>{{currentProduct.categoryId}} : {{currentProduct.category.name}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>