<app-d-product-title></app-d-product-title>

<app-d-product-detail></app-d-product-detail>
<!-- <ng-container *ngIf="currentProduct;then loaded;else notloaded;"></ng-container>
<ng-template #notloaded>Chargement en cours...</ng-template>
<ng-template #loaded>

  <div class="row">
    <div class="col-md-2">
      <h4>Product Id : {{currentProduct.id}}</h4>
    </div>
    <div>
      Name : {{currentProduct.name}}<br />
      description : {{currentProduct.description}}<br />
    </div>
  </div> -->