<p>app-s-accueil-feature works !</p>
<div class="container" >
    <div class="row" >
        <div class="col" >
            <div class="row">
                <div class="col-lg-4 col-md-6 mb-4" *ngFor="let lp of listProduct" >
                    
                    <div class="card h-100" >
                        <!-- <a [routerLink]="['/detailsProduct/'+lp.id]"> -->
                        <div class="card-body">
                            <h3 class="card-title text-center text-uppercase">
                                {{lp.name}}
                            </h3>
                            <h4 class="text-center">{{lp.unitPrice}} €</h4>
                            <p class="card-text">{{lp.description}}</p>
                            <!-- <img [src]="lp.pictureUrl" class=" img-card img-fluid mx-auto d-block" /> -->
                        </div>

                        <!-- </a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />