.image {
    background-size: cover;
    width: 300px;
    height: 200px;
    }
    
    .image img {
    display: none;
    }

    .img-fluid{
        max-width: 100%;
        max-height: auto;
    }

    a{
        color: #fff;
        text-decoration: none;
    }
    a:hover{
        color: rgb(145, 76, 16);
    }

    .btn-primary:hover {
        color: #fff;
        background-color: rgb(145, 76, 16);
        border-color: rgb(145, 76, 16);
      }