<table class="table border border-info">
    <thead class="text-center bg-info text-light">
        <tr>
            <th>#</th>
            <!-- <th>Picture</th> -->
            <th>Nom</th>
            <th>description</th>
            <th>isDisabled</th>
            <th>unitPrice</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="text-center">
        <tr *ngFor="let lp of listProduct">
            <!-- <td>{{lp.pictureUrl}}</td> -->
            <td>{{lp.id}}</td>
            <td>{{lp.name}}</td>
            <td>{{lp.description}}</td>
            <td>{{lp.isDisabled}} </td>
            <td>{{lp.unitPrice}}</td>
            <td class="">
                <a class="bi bi-search" [routerLink]="[lp.id]"></a>&nbsp;
                <a class="bi bi-pencil-square" [routerLink]="['./edit/'+lp.id]"></a>&nbsp;
                <!-- <a class="bi bi-trash" (click)="delete(cl.contactId)"></a>&nbsp; -->
            </td>
        </tr>
    </tbody>
</table>
